@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #307e9c, #3a89a9, #4393b7, #4d9ec4, #57a9d2, #60acd4, #68afd5, #70b2d7, #77aecd, #7dabc3, #83a7b9, #89a3b0);
}
header h1{
  font-size: 70px;
   
}
header #gif iframe{
  width: 90px;
  height: 90px;
  border-radius: 100px;
}
#left {
  display: block;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  color: aliceblue;
}

#shopIcon {
  display: block;
  float: right;
  margin-top: -45px;
  padding-right: 90px;

}
body{
 font-family:  Roboto, sans-serif;
 background: #D2D9D8; 

}
main{
  max-width: 500px;
  width: 98% ;
  margin: auto;
  padding: 40px;
}
 /*------ Formulario tarjeta -----*/
.validacionTarjeta {
  background-image: linear-gradient(to right top, #fc6ebe, #f76fc9, #f071d3, #e874de, #de77e8, #d074ea, #c271ec, #b26fee, #9b66e8, #835ee2, #6856dc, #474fd5);
    width: 80%;
    max-width: 380px;
    padding: 2% 8% 5% 2%;
  border-radius: 20px;
  }
  .validacionTarjeta label {
    display: block;
    color: rgb(59, 4, 22);
    margin-bottom: 5px;
    font-size: 16px;
  }
  .validacionTarjeta input,
  .validacionTarjeta select,
  .buttonComprar {
    border: 2px solid rgb(205, 218, 233);
    font-size: 18 px;
    height: 30px;
    width: 90%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
  }
  .validacionTarjeta input:hover,
  .validacionTarjeta select:hover {
    border: 2px solid rgb(121, 61, 79);
  }
  .validacionTarjeta input:focus,
  .validacionTarjeta select:focus {
    outline: rgb(4,4,4);
    box-shadow:3px 7px 10px - 5px rgba(1, 6, 12, 0.3);
  }
  .validacionTarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .flexbox {
  display: flex;
  justify-content: space-between; }
  
  .grupoVencimiento {
    width: 50%;
  }
  .mesSelecionado {
    width: 50%;
  }
  .grupoSeguridad {
    min-width: 50%;
  }
  main #beneficios {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    float: right;
  }
  
  main #beneficios h2 {
    font-family: 'Padauk', sans-serif;
    text-align: center;
  }
  
  main #beneficios div {
    font-family: 'Padauk', sans-serif;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }
  
  footer {
    margin-top: 60%;
    height: 30px;
    background-image: linear-gradient(to right bottom, #307e9c, #3a89a9, #4393b7, #4d9ec4, #57a9d2, #60acd4, #68afd5, #70b2d7, #77aecd, #7dabc3, #83a7b9, #89a3b0);
    padding-top: 10px;
  }
  
  footer #container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
  }