@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
}

header {
  height: 90px;
  width: 100%;
  background-image: linear-gradient(to right bottom, #307e9c, #3a89a9, #4393b7, #4d9ec4, #57a9d2, #60acd4, #68afd5, #70b2d7, #77aecd, #7dabc3, #83a7b9, #89a3b0);
}

header #gif iframe{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin-left: 500px;
  transform: translate(-95px,-90px);
}
header #left {
  font-size: 40px;
  display: block;
  margin-left: 500px;
  font-family: 'Londrina Outline', cursive;
  color: aliceblue;
}

header #shopIcon {
  display: block;
  float: right;
  margin-top: -150px;
  padding-right: 90px;
  font-size: 30px;
  color: aliceblue;
  align-self: center;
}

body{
 font-family:  Roboto, sans-serif;
 background: #D2D9D8; 
}
main{
  max-width: 500px;
  width: 98% ;
  margin: auto;
  padding: 40px;
  height: 200px;
}
main #compra{
  display: none;
}

main #cursos{
  display: block;
}

main #cursos #intro{
  width: 100%
}
main #cursos #intro img{
  width: 900px;
  height: 200px;
  margin-left: -190px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
main #cursos #intro h1{
  font-family: 'Padauk', sans-serif;
  font-size: 40px;
  width: 600px;
  color: aliceblue;
  transform: translate(50px,-127px);
}
main #cursos #cursosContenedor{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: -230px;

}
main #cursos #cursosContenedor div{
  width: 300px;
  height: 600px;
  background-color:aliceblue;
  border-radius: 40px;
}
main #cursos #cursosContenedor div img{
  width: 90%;
  height: 250px;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 20px;
}
main #cursos #cursosContenedor div h3{
  width: 90%;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 22px;
}
main #cursos #cursosContenedor div p{
  margin-top: 20px;
  width: 90%;
  margin-left: 20px;
  opacity: 70%;
  font-size: 15px;
}
main #cursos #cursosContenedor div .descuento{
  color: #BF0B3B;
}
main #cursos #cursosContenedor div p span{
  color: #BF0B3B;
  text-decoration: line-through;
}
main #cursos #cursosContenedor div button{
  width: 200px;
  height: 30px;
  margin-left: 45px;
  margin-top: 40px;
  background-color: #9b66e8;
  color: aliceblue;
  text-align: center;
  border-radius: 5px;
}

main #compra form{
  margin-left: -400px;
  background-image: linear-gradient(to right top, #fc6ebe, #f76fc9, #f071d3, #e874de, #de77e8, #d074ea, #c271ec, #b26fee, #9b66e8, #835ee2, #6856dc, #474fd5);
    width: 600px;
    padding: 2% 8% 5% 2%;
  border-radius: 20px;
}
main #compra section .informacionSeguridad{
  display: block;
  margin-left: -400px;
}
  .validacionTarjeta label {
    display: block;
    color: rgb(59, 4, 22);
    margin-bottom: 5px;
    font-size: 16px;
  }
  .validacionTarjeta input,
  .validacionTarjeta select,
  .buttonComprar {
    border: 2px solid rgb(205, 218, 233);
    font-size: 18 px;
    height: 30px;
    width: 90%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
  }
  .validacionTarjeta input:hover,
  .validacionTarjeta select:hover {
    border: 2px solid rgb(121, 61, 79);
  }
  .validacionTarjeta input:focus,
  .validacionTarjeta select:focus {
    outline: rgb(4,4,4);
    box-shadow:3px 7px 10px - 5px rgba(1, 6, 12, 0.3);
  }
  .validacionTarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: FontAwesome;
  }
  main #compra form #error{
    color: #F2E205;
  }
  main #compra form #correcto{
    color: #F2E205;
  }
  main #compra form b{
    color: #F2E205;
  }
  .flexbox {
  display: flex;
  justify-content: space-between; }
  
  .grupoVencimiento {
    width: 50%;
  }
  .mesSelecionado {
    width: 50%;
  }
  .grupoSeguridad {
    min-width: 50%;
  }
  main #compra #beneficios {
    display: flex;
    flex-direction: column;
    float: right;
    transform: translate(350px,-480px);
  }
  #gif2 iframe {
    width: 170px;
    height: 170px;
    border-radius: 100px;
    margin-left: 660px;
    transform: translate(-150px,-150px);
    position: absolute;
    top: 250px;
    
  }  
  main #compra section .informacionSeguridad #informacion{
    font-size: 30px;
    color: #D98E04;
    margin-top: 25px;
  }
  main #compra #beneficios h2 {
    font-family: 'Padauk', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  main #compra #beneficios div p {
    font-family: 'Padauk', sans-serif;
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
  }
  main #compra #beneficios div p #carita{
   font-size: 30px; 
   color: #D98E04;
  }
  main #compra #beneficios div p #computador{
    font-size: 30px; 
    color: #D98E04;
   }
   main #compra #beneficios div p #usuarios{
    font-size: 30px; 
    color: #D98E04;
   }
   main #compra #beneficios div p #pregunta{
    font-size: 30px; 
    color: #D98E04;
   }
  
  footer {
    margin-top: 60%;
    height: 30px;
    background-image: linear-gradient(to right bottom, #307e9c, #3a89a9, #4393b7, #4d9ec4, #57a9d2, #60acd4, #68afd5, #70b2d7, #77aecd, #7dabc3, #83a7b9, #89a3b0);
    padding-top: 10px;
  }
  
  footer #container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
  }